
.navbar-brand {
    font-size: 22px;
    animation: color 0.5s infinite alternate;
    font-family: serif;
}

@keyframes color {
    from {
        color: white;
    }
    to {
        color: #0d6efd;
    }
}
.logo {
    width: 70px;
}
